<div class="container flex-column">
  <main class="content-wrapper flex-column">
    <h1 class="page-title">
      {{'status de matrículas' | uppercase}}
    </h1>

    <i (click)="getReport()" class="pi pi-download"></i>

    <div class="chart-container">
      <p-chart
        type="bar"
        [data]="chartData"
        [options]="chartOptions">
      </p-chart>
    </div>

    <div class="table-container">
      <p-table [value]="students" styleClass="p-datatable-responsive-demo">
        <ng-template pTemplate="header">
          <tr>
            <th>{{'nome' | uppercase}}</th>
            <th>{{'cpf' | uppercase}}</th>
            <th>{{'email' | uppercase}}</th>
            <th>{{'telefone' | uppercase}}</th>
            <th>{{'status' | uppercase}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr>
            <td>{{student.name}}</td>
            <td>{{student.cpf | cpfMask}}</td>
            <td>{{student.email}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.studentStatus | studentReportStatus}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </main>
</div>

<p-blockUI [blocked]="canBlockUi">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-toast position="top-center">
</p-toast>
