<div class="container flex-column">
  <main class="content-wrapper flex-column">
    <h1 class="page-title">
      {{'status de matrículas' | uppercase}}
    </h1>

    <i class="pi pi-download"></i>

    <div class="p-grid chart-container">
      <p-chart
        class="p-col-12"
        type="bar"
        [data]="chartData">
      </p-chart>
    </div>

    <div class="p-grid status-container">
<!--      <h1>{{'matrículas pendentes' | uppercase}}</h1>-->
<!--      <p-table #dt [columns]="cols" [value]="products" selectionMode="multiple" [(selection)]="selectedProducts">-->
<!--        <ng-template pTemplate="caption">-->
<!--          <div class="p-d-flex">-->
<!--            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>-->
<!--            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>-->
<!--            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>-->
<!--            <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="header" let-columns>-->
<!--          <tr>-->
<!--            <th *ngFor="let col of columns">-->
<!--              {{col.header}}-->
<!--            </th>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-rowData let-columns="columns">-->
<!--          <tr [pSelectableRow]="rowData">-->
<!--            <td *ngFor="let col of columns">-->
<!--              {{rowData[col.field]}}-->
<!--            </td>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--      </p-table>-->
    </div>
  </main>
</div>
