.popup-menu {
  display: none;
}

:host ::ng-deep .menu-default.p-menu {
  position: fixed;
  z-index: 1;
  top: 85px;
  left: 0;
  width: 250px;
  height: 100%;
  padding-top: 1rem;
  border: 0;
  border-radius: 0;
  background-color: var(--orange);
}

:host ::ng-deep .menu-default.p-menu .p-menu-list {
  width: 100%;
}

:host ::ng-deep .menu-default.p-menu .p-menu-list .p-menuitem-link:hover {
  background-color: var(--purple);
}

:host ::ng-deep .menu-default.p-menu .p-menu-list .p-menuitem-link .p-menuitem-text,
:host ::ng-deep .menu-default.p-menu .p-menuitem-link .p-menuitem-icon {
  color: var(--white);
  font-size: 1.2rem;
}

@media (max-width: 1080px) {
  :host ::ng-deep .menu-default.p-menu {
    display: none;
  }

  :host ::ng-deep .popup-menu.p-menu {
    width: 250px;
  }

  .popup-menu {
    display: unset;
    position: absolute;
    top: 25px;
    left: 35px;
    z-index: 999;
  }
}

@media (max-width: 460px) {
  :host ::ng-deep .popup-menu.p-menu {
    width: 200px;
  }
}

@media (max-width: 360px) {
  :host ::ng-deep .popup-menu.p-menu {
    width: 170px;
  }
}
