.container {
  overflow: hidden;
}

.content-wrapper {
  padding-top: 85px;
  padding-left: 250px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-title, .pi-download {
  position: absolute;
  top: 110px;
  color: var(--purple);
}

.page-title {
  left: 290px;
}

.pi-download {
  cursor: pointer;
  right: 60px;
  transition: 0.2s;
  font-size: 2.4rem;
}

.pi-download:hover {
  opacity: 70%;
}

.form-container {
  width: 100%;
  height: 30%;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.form-field label {
  color: var(--purple);
  margin-bottom: 10px;
  display: flex;
}

.form-field .p-inputtext {
  max-width: 100%;
}

.button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.button-wrapper button {
  height: 44px;
  width: 180px;
}

.fields-container {
  width: 100%;
  padding: 0 40px;
}

.criteria-field {
  margin-top: 5px;
  padding: 2px 10px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange);
  border-radius: 3px;
}

.criteria-field span {
  font-size: 1.2rem;
}

.final-result-container {
  padding: 0 52px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--orange);
  border-radius: 3px;
}

.note-input {
  padding: 0 15px;
  height: 90%;
  width: 90px;
  background-color: var(--purple);
  border-radius: 5px;
  color: var(--white);
  font-size: 1.1rem;
}

.criteria-field span {
  color: var(--white);
}

.result {
  background-color: transparent;
  justify-content: flex-end;
}

.result span {
  margin-right: 10px;
  color: var(--blue);
}

.cpf-input {
  position: relative;
}

.cpf-input button {
  position: absolute;
}

.cpf-input button {
  right: 10px;
  top: 45%;
}

@media (max-width: 1080px) {
  .content-wrapper {
    padding-left: 0;
  }

  .page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 992px) {
  .centraliza {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .button-wrapper {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .form-field {
    width: 100%;
  }
}
