<div class="container flex-column">
  <main class="content-wrapper">
    <h1>
      {{'financeiro' | uppercase}}
    </h1>

    <div class="p-grid">
      <div class="p-col-12">
        <form [formGroup]="studentBaseForm.form" class="form-container p-grid p-ai-start vertical-container">
          <div class="form-field p-xl-3 p-lg-3 p-md-4 p-sm-12 cpf-input">
            <label>{{ 'cpf' | uppercase }}</label>
            <input
              pInputText
              type="text"
              placeholder="000.000.000-00"
              formControlName="cpf"
              (ngModelChange)="onCpfNewValue($event)"
            >
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-search"
              class="p-button-rounded p-button-help p-button-lg p-button-text"
              (click)="getStudentInfo(studentBaseForm.cpf?.value)">
            </button>
          </div>

          <div class="form-field p-xl-9 p-lg-9 p-md-8 p-sm-12">
            <label>{{ 'nome' | uppercase }}</label>
            <input
              pInputText
              type="text"
              [placeholder]="'joão da silva' | uppercase"
              formControlName="name"
            >
          </div>
        </form>
      </div>

      <div class="p-col-12">
        <section class="actions-container">
          <app-widget
            icon="pi pi-download"
            label="download documentos">
          </app-widget>

          <app-widget
            icon="pi pi-download"
            label="upload contrato">
          </app-widget>
        </section>
      </div>
    </div>
  </main>
</div>

<p-blockUI [blocked]="canBlockUi">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-toast position="top-center">
</p-toast>
