.content-wrapper {
  padding-top: 85px;
  padding-left: 250px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-wrapper h1 {
  color: var(--purple);
  height: fit-content;
  position: absolute;
  top: 110px;
  left: 290px;
}

.form-container {
  width: 100%;
  height: 30%;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.actions-container {
  width: 100%;
  height: 25%;
  padding-left: 47px;
  padding-right: 47px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.form-field label {
  color: var(--purple);
  margin-bottom: 10px;
  display: flex;
}

.form-field .p-inputtext {
  max-width: 100%;
}

.button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.button-wrapper button {
  height: 44px;
  width: 180px;
}

.cpf-input {
  position: relative;
}

.cpf-input button {
  position: absolute;
}

.cpf-input button {
  right: 10px;
  top: 45%;
}

@media (max-width: 1080px) {
  .content-wrapper {
    padding-left: 0;
  }

  .content-wrapper h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .tab-menu-top {
    left: 0;
  }
}

@media (max-width: 992px) {
  .centraliza {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .button-wrapper {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .form-field {
    width: 100%;
  }
}
