<main class="container flex-direction p-p-0">
  <div class="banner">
    <img src="../../assets/images/logo.svg" alt="Faculdade Senai de Tecnologia">
  </div>

  <div class="form-container">
    <form [formGroup]="userForm" class="form">
      <img src="../../assets/images/student.svg" alt="Estudante">
      <input
        pInputText
        formControlName="email"
        type="text"
        [placeholder]="'e-mail' | uppercase"
        class="default-input">

      <input
        pInputText
        formControlName="password"
        type="password"
        [placeholder]="'senha' | uppercase"
        class="default-input">

      <button
        pButton
        (click)="login()"
        [label]="'login' | uppercase"
        type="button"
        class="p-button-help p-button-lg">
      </button>

      <button class="btn-link">
        Solicitar Cadastro
      </button>
    </form>
  </div>
</main>
