<main class="container flex-direction p-p-0">
  <div class="banner">
    <img src="../../assets/images/logo.svg" alt="Faculdade Senai de Tecnologia">
  </div>

  <div class="form-container">
    <form [formGroup]="userForm" class="form">
      <img src="../../assets/images/student.svg" alt="Estudante">
      <input
        formControlName="email"
        type="text"
        [placeholder]="'e-mail' | uppercase"
        pInputText
      >

      <input
        formControlName="password"
        type="password"
        [placeholder]="'senha' | uppercase"
        pInputText
      >

      <button
        pButton
        (click)="login()"
        [label]="'login' | uppercase"
        type="button"
        class="p-button-help p-button-lg">
      </button>

      <button
        routerLink="/solicitarCadastro"
        class="btn-link">
        Solicitar Cadastro
      </button>
    </form>
  </div>
</main>

<p-blockUI [blocked]="canBlockUi">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-toast position="top-center"></p-toast>
