.container {
  overflow: hidden;
}

.header-container {
  justify-content: flex-end;
}

.header-container h1 {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.header-container h1 i {
  margin-left: 10px;
  font-size: 2rem;
}

.content-wrapper {
  padding-top: 85px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  height: 100%;
  padding-left: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container h1 {
  position: absolute;
  top: 1rem;
  left: 290px;
  color: var(--purple);
}

.form-container form {
  width: 700px;
  align-items: center;
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.form-field .p-inputtext {
  max-width: 100%;
}

.p-inputtext {
  padding-left: 30px;
  margin-bottom: 15px;
}

.form-field label {
  color: var(--purple);
  margin-bottom: 10px;
  display: flex;
  align-self: flex-start;
}

.form-field button:first-of-type {
  position: absolute;
  top: 40px;
  right: 10px;
}

.btn-link {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.btn-link:hover {
  text-decoration: underline;
}

.insert-button {
  margin-top: 10px;
  display: flex;
  align-self: flex-end;
  width: 120px;
  height: 45px;
  font-size: 0.9rem;
}

.hidden {
  display: none;
}

.popup-menu {
  display: none;
}

:host ::ng-deep .menu-default.p-menu {
  position: absolute;
  z-index: 1;
  top: 85px;
  left: 0;
  height: 100%;
  width: 250px;
  padding-top: 1rem;
  border: 0;
  border-radius: 0;
  background-color: var(--orange);
}

:host ::ng-deep .menu-default.p-menu .p-menu-list {
  width: 100%;
}

:host ::ng-deep .menu-default.p-menu .p-menu-list .p-menuitem-link:hover {
  background-color: var(--purple);
}

:host ::ng-deep .menu-default.p-menu .p-menu-list .p-menuitem-link .p-menuitem-text,
:host ::ng-deep .menu-default.p-menu .p-menuitem-link .p-menuitem-icon {
  color: var(--white);
}

@media (max-width: 1080px) {
  .form-container {
    padding: 0;
    flex-direction: column;
  }

  .form-container h1 {
    left: unset;
  }

  .form-container form {
    padding: 0 10px;
  }

  .form-field {
    width: 60%;
  }

  :host ::ng-deep .menu-default.p-menu {
    display: none;
  }

  :host ::ng-deep .popup-menu.p-menu {
    width: 250px;
  }

  .popup-menu {
    display: unset;
    position: absolute;
    top: 25px;
    left: 35px;
    z-index: 999;
  }
}

@media (max-width: 460px) {
  .form-field {
    width: 50%;
  }

  :host ::ng-deep .popup-menu.p-menu {
    width: 200px;
  }
}

@media (max-width: 360px) {
  .form-field {
    width: 40%;
  }

  .header-container .username {
    display: none;
  }

  :host ::ng-deep .popup-menu.p-menu {
    width: 170px;
  }
}
