input {
  width: 100%;
  max-width: 380px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 1.07rem;
  color: var(--white);
  background-color: var(--orange);
  padding-left: 15px;
}

input::placeholder,
input::-moz-placeholder {
  color: var(--white);
  opacity: 1;
}


