<div class="container flex-column">
  <main class="content-wrapper">
    <p-tabMenu
      class="tab-menu-top"
      [model]="tabItems"
      [activeItem]="tabItems[0]">
    </p-tabMenu>

    <h1>
      {{'enviar prova vestibular' | uppercase}}
    </h1>

    <form [formGroup]="form" class="form-container p-grid p-ai-start vertical-container">
      <div class="form-field p-xl-3 p-lg-3 p-md-4 p-sm-12">
        <label>{{ 'cpf' | uppercase }}</label>
        <input
          pInputText
          type="text"
          placeholder="000.000.000-00"
          formControlName="cpf"
        >
      </div>

      <div class="form-field p-xl-9 p-lg-9 p-md-8 p-sm-12">
        <label>{{ 'nome' | uppercase }}</label>
        <input
          pInputText
          type="text"
          [placeholder]="'joão da silva' | uppercase"
          formControlName="name"
        >
      </div>

      <div class="form-field p-col-12 upload-input">
        <label>{{ 'url prova' | uppercase }}</label>
        <input
          pInputText
          type="text"
          placeholder="https://provavestibular.com/link.php"
          formControlName="examUrl"
        >
      </div>

      <div class="button-wrapper p-col-12">
        <button
          pButton
          [label]="'enviar' | uppercase"
          type="button"
          class="p-button-help p-button-lg">
        </button>
      </div>
    </form>
  </main>
</div>

<p-blockUI [blocked]="canBlockUi">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-toast position="top-center"></p-toast>
