@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  /* COLORS */

  --white: #FFF;
  --red: #FF0000;
  --purple: #8E1291;
  --orange: #FF641A;
  --pink: #F60071;
  --gray: #CCC;
  --black: #000;

  /* FONT WEIGHT */

  --extraLight: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --extraBold: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
button,
input {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--bold);
  border: 0;
  outline: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.header-container {
  background-color: var(--purple);
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 0 35px;
}

.header-container img {
  width: 110px;
  height: 110px;
  position: fixed;
  left: 32px;
}

.header-container h1 {
  color: var(--white);
  display: flex;
  margin: 0 auto;
}

.btn-link {
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--pink);
}

.p-inputtext {
  width: 100%;
  max-width: 380px;
  height: 60px;
}

.p-dropdown {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1080px) {
  .header-container img {
    display: none;
  }
}

@media (max-width: 460px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  :root {
    font-size: 12px;
  }
}
